.vs/
.git/
bin/
obj/
x64/
Carbon.make
Makefile
*.make
/Carbon/res
/Dependencies/GLEW/doc
/Dependencies/GLEW/bin


vendor/glm/.appveyor.yml
vendor/glm/.travis.yml
vendor/glm/CMakeLists.txt
/vendor/glm/doc
/vendor/glm/cmake
/vendor/glm/util
vendor/glm/test/
